body{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
::selection {
    background-color: rgb(111, 110, 255);
}

a {
    color: rgb(161, 161, 161);
    transition: all 0.1s ease;
    text-decoration: none;
    opacity:1;
}
a:hover {
    color: white;
    transition: all 0.1s ease;
}

a:active {
    color: white;
}

img {
    width: 100%;
    height: auto;

}



.wrapper {
    display: grid;
    /* Header and footer span the entire width, sidebars and content are fixed, with empty space on sides */
    grid-template-areas:
      "logo  header "
      "body  body";
    /* Only expand middle section vertically (content and sidebars) */
    grid-template-rows: 0fr 1fr ;
    /* 100% width, but static widths for content and sidebars */
    grid-template-columns: 1fr 4fr ;
    /* Force grid to be at least the height of the screen */
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%,rgba(255, 255, 255, 0.08) 100%);
    mix-blend-mode: normal;
    background-color:rgb(38, 40, 56);
  }
  /*
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-color:rgb(38, 40, 56)
*/
header {
    grid-area: header;
  
    /* Stick header to top of grid */
    position: sticky;
    top: 0;
    /* Ensure header appears on top of content/sidebars */
    z-index: 1;
  
    /* General appearance */
    
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    padding: 1rem;
    border-bottom: 1px solid rgba(216, 215, 215, 0.1);

  }
  /* Save header height to properly set `padding-top` and `margin-top` for sticky content */
:root {
    --header-height: calc(1rem * 1.5 + 1rem * 2);
  }
.logo {
  grid-area: logo;
  position: sticky;
  top: 0;
  z-index: 1;
    background-color: rgb(48, 50, 65);
    border-bottom: 1px solid rgba(216, 215, 215, 0.1);
}
.body {
  display:grid;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
  width:100%;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top:0;
  background-color: rgb(48, 50, 65);
}

nav{
    margin-top: 1.5rem;
    border-bottom: 1px solid rgba(216, 215, 215, 0.1);
    
}
  .content {
    overflow-y: scroll;
    grid-area: content;
  }
  /*
  .footer {
    grid-area: footer;
  

    position: sticky;
    bottom: 0;
  

    background-color: #FCFF34;
    text-align: center;
    font-size: .8rem;
    line-height: 1.5;
    padding: .5rem;
  }
  
  :root {
    --footer-height: calc(.8rem * 1.5 + .5rem * 2);
  }
  */
  .sticky-spacer {
    flex-grow: 1;
  }
  main .content {
    position: sticky;
    box-sizing: border-box;
    --padding: 10px;
    padding:
      calc(var(--header-height) + var(--padding))
      var(--padding)
      var(--padding);
    margin-top: calc(0px - var(--header-height));
  }
/*
#sidebar {
	position:fixed; 
	height: 100%;
	margin: 0px;  
    width: 20%; 
    background-color:rgb(49, 51, 67);
}

.sidebar-header{
    line-height: 71px;
    font-size: 22px;
}

#rightWrapper {
	width:80%; 
    height:100%;
	float: right;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-color:rgb(41, 43, 61);
}

header .rightside {
    height: 70px;
    width:80%;
    position: fixed;
}

main {
    font-size: 12px;
}

/*
.layout {
 width: 1840px; margin: auto;
 position: relative; 
}
.sidebar, .content { 
position: absolute; 
}
.sidebar { 
 width: 280px; 
 background-color:rgb(49, 51, 67);
}
.content {
 left: 280px; 
 width: 1660px; 
}

.sidebar {
    margin: 0;
    height:100vh;
    padding: 0%;
    left: 0;
    background-color:rgb(49, 51, 67);
    width: 280px; 
    position: fixed;
    height: 100%;
}
*/
/*

.content {
    margin-left: 280px; 
    padding: 1px 16px;
    width: 100%;
    /*
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-color:rgb(41, 43, 61);
    
}

.content-header {
    height: 71px;
    width: 100%;
    padding: 1.5%;
    position: fixed;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-color:rgb(41, 43, 61);
    
}
*/
.submenu{
    color: rgb(179, 179, 179);
    cursor: pointer;
    padding: 14px;
    width: 100%;
    text-align: left;
    text-indent: 19.56%;
    font-size: 14px;
    line-height: 10px;
    border: none;
    outline: none;
    user-select: none;
    transition: background 0.1s ease-in;
    background: transparent;
  }

.menu{
  background-color: rgb(48, 50, 65);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  text-align: left;
  text-indent: 6%;
  transition:  0.5s ease;
  display: block;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  user-select: none;
  }


  /* Добавьте цвет фона к кнопке, если она нажата (добавьте класс .active с помощью JS) и при наведении на нее указателя мыши (наведите курсор мыши) */
.submenu:hover {
    background-color: rgb(59, 61, 77);
    color: rgb(255, 255, 255);
    border-left: 4px solid rgb(111, 110, 255);
    transition: all 0.1s ease;
  }
.submenu > i {
  text-align: left;
  text-indent: 0%;
  margin-right: 8%;
}
.submenu:hover > i {
  color: rgb(111, 110, 255);
  transition: all 0.1s ease;
} 
  
  /* Стиль панели аккордеона. Примечание: по умолчанию скрыто */
  /*
.panel {
    max-height: 0rem;
    overflow: hidden;
    transition: max-height 0.1s;
    background-color: rgb(48, 50, 65);
  }

.panel:target {
    max-height: 20rem;
}
*/



nav input {
    display: none;
}

nav label{
    background-color: rgb(48, 50, 65);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    text-align: left;
    text-indent: 6%;
    transition:  0.1s ease;
    display: block;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    user-select: none;
  }

nav label::after {
	font-family: "Font Awesome 5 Free";
	content: '\f107';
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	right: 8%;
}

nav input:checked + label::after {
	content: '\f106';
    font-weight: bold;
}

nav input + label + .panel2 {
    display: none;
}

nav input:checked + label + .panel2 {
    display: block;
}

nav input {
	display: none;
}


.panel2 {
    max-height: 30rem;
    overflow: hidden;
    transition: max-height 0.1s;
    background-color: rgb(48, 50, 65);
}

/*
position: absolute;
height: 10px;
left: 32.86%;
right: 43.21%;
top: calc(50% - 10px/2);

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 10px;


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
mix-blend-mode: normal;
opacity: 0.03;


position: absolute;
width: 1440px;
height: 810px;
left: 0px;
top: 0px;

background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
mix-blend-mode: normal;
opacity: 0.5;


/*
position: absolute;
left: 0%;
right: 0%;
top: 98.28%;
bottom: 0%;

background: #D8D8D8;
mix-blend-mode: normal;
opacity: 0.1;


position: absolute;
height: 10px;
left: 4.74%;
right: 93.02%;
top: calc(50% - 10px/2 - 7px);

font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 10px;

/* identical to box height, or 71% */
/*
color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.6;

position: absolute;
left: 80.91%;
right: 0%;
top: 0%;
bottom: 0%;

mix-blend-mode: normal;
opacity: 0.2;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;